.navbarItems {
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgb(73, 63, 252) 100%
  );
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: white;
  cursor: pointer;
  position: relative;
  right: 700px;
}
.fa-user-tie {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  padding-left: 5px;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vh;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: yellow;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: black;
}
