

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: black;
  border-top: 1px solid #e5e5e5;
  background: linear-gradient(90deg,rgb(110,94,254)0%,rgba(73,63,252,1) 100%);
  margin-bottom: 0px;
  
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color:black;
}
.legal {
  display: flex;
  flex-wrap: wrap;
  color: black;
}
  
.legal__links {
  display: flex;
  align-items: center;
}


@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}



.footer_links a{
  padding:5px;
  color:black;
}
#ftext{
   font-family: 'Roboto Mono', monospace;

}